# Async-APIM Single-Node Demo 

Inventory of Solace IoT-Team Demo Single-Node Demo


### Deployed Versions

| Entity | Version | Docker-Image |
|--------|---------|--------------|
|Platform-API | {{platform_api_version}} | solaceiotteam/platform-api-server:{{platform_api_version}} |
|Portal | {{portal_version}} | solaceiotteam/apim-demo-portal:{{portal_version}} |

### Endpoints
| Entity |  Endpoint | Notes |
|--------|------------|-------|
| Portal | http://{{platform_api_host_ip}} | Username: {{solace_portal_login_user}} Password: {{solace_portal_login_password}} |
| Platform-API | http://{{platform_api_host_ip}}:3000/v1 |Admin-User: {{solace_spa_adminuser}} Password: {{solace_spa_adminpassword}} <br/> User: {{solace_spa_user}} Password: {{solace_spa_password}} |
| AWS-Host | {{platform_api_host_ip}} <br/> {{platform_api_host_dns}} | AWS EC2 Box of Single-Node setup <br> Linux Login: `ubuntu`|

### Reference

#### AWS Resources Tags

| Tag | Value |  Note |
|-----|--------|------|
| Owner | `{{platform_tag_owner}}`| Owner of AWS resource. Owner is not exclusive to this project |
| Project | `{{platform_tag_project}}`| Project is exclusive to this project |
| Name | Prefix `{{platform_tag_name_prefix}}`| Prefix is exclusive to this project |

#### Facts
| Fact | Value |  Note |
|-----|--------|------|
| aws_region | `{{platform_aws_region}}`| AWS region of this deployment |
| aws cloudwatch log group | `{{platform_tag_project}}-group`| Log Group of this deployment|

### How-to

#### Connect to AWS EC2 Box  setup: 

Working directory: `solace-iot-team-demo/single-node`
`ssh -i keys/aws_key_box ubuntu@{{platform_api_host_ip}}`